.destaques {
  margin-bottom: 144px;
}

#title strong {
  margin-top: 65px;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-inline: 190px;
}

.projects {
  background-color: var(--gray-300);
  padding: 12px;
  margin: 24px;
  border-radius: 8px;

  img {
    width: 350px;
    border-radius: 8px;
  }

  p {
    margin-bottom: 16px;
  }
}

.card {
  transition: 0.5s;
  
}

.card:hover {
  transform: scale(1.1);
  box-shadow: 0 2px 30px rgb(227, 227, 227);
}

.services {
  background-color: var(--gray-100);
}

.service {
  border: 2px solid var(--gray-500);
  border-radius: 12px;
  margin: 0 24px 120px 24px;

  img {
    width: 48px;
    margin: 20px 0 0 20px;
  }

  h3 {
    margin: 20px 20px 20px 20px;
  }

  p {
    margin: 0 20px 20px 20px;
  }
}